/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/app/Livewire/Excedencias.php
/app/models/Excedencia.php
/database/migrations/2025_06_02_123650_create_excedencias.php
/resources/views/livewire/excedencias.blade.php